{% extends '../base.html'%}
{% load static %}


{% block body %}
<div class="inicio">

    <div class="header">
        <div class="logo-container">
            <img src="{% static 'img/logo-blanco.png'%}" alt="">
        </div>
    </div><!-- End header -->


    <div class="container-fluid">

        <div id="inicio" class="path panel">
            <div class="presentacion row">
                {% include 'home/formularios/includes/img-asesor.html' %}

                <div class="col-lg-10 d-flex justify-content-center">
                    <p>¡Hola! Soy
                        <strong>
                            {% if request.GET.first_name == null %}
                            su asesor,
                            {% else %}
                            {{ request.GET.first_name }} {{ request.GET.last_name}},
                            {% endif %}
                        </strong>
                        {% if request.GET.bienvenida == null %}
                        ejecutivo experto en Créditos
                        Hipotecarios,
                        déjame ayudarte a calcular tu capacidad de crédito, no te llevará mas de 3 minutos.
                        {% else %}
                        {{ request.GET.bienvenida }}
                        {% endif %}

                    </p>
                </div>

            </div><!-- End presentacion -->

            <div class="preguntas">
                <div class="row">
                    <div class="col-lg-4 d-flex justify-content-center">

                    </div>
                    <div class="col-lg-8 d-flex justify-content-center">

                        <div class="opciones">
                            <h4><strong>¿Qué estás buscando?</strong></h4>
                            <div class="opcion opcionNext" for="c2">
                                <p>Compra Casa o Depa</p>
                            </div>
                            <div class="opcion opcionNext" for="m2">
                                <p>Mejora de Hipoteca</p>
                            </div>
                            <div class="opcion opcionNext" for="t2">
                                <p>Comprar Terreno</p>
                            </div>
                            <div class="opcion opcionNext" for="qc2">
                                <p>Quiero Construir</p>
                            </div>
                            <div class="opcion opcionNext" for="cc2">
                                <p>Comprar Terreno y Construir</p>
                            </div>
                            <div class="opcion opcionNext" for="l2">
                                <p>Necesito Liquidez</p>
                            </div>
                            <div class="opcion opcionNext" for="d2">
                                <p>Mejora de Hipoteca más Liquidez</p>
                            </div>

                            <input name="tramite" form="form-db" class="opcion-input" hidden>
                        </div>

                    </div>

                </div>
            </div><!-- End preguntas -->
        </div>

        <form action="pagina_final/" method="post" id="form-db">
            {% csrf_token %}
            <input type="text" name="promotor" value="{{ request.GET.id }}" hidden>
            <input type="text" name="despedida" value="{{ request.GET.despedida }}" hidden>
        </form>

        {% include 'home/formularios/compra.html' %}
        {% include 'home/formularios/mejora.html' %}
        {% include 'home/formularios/terreno.html' %}
        {% include 'home/formularios/construccion.html' %}
        {% include 'home/formularios/compra-cons.html' %}
        {% include 'home/formularios/liquidez.html' %}
        {% include 'home/formularios/deudas.html' %}

    </div><!-- End container-fluid -->


</div>

{% endblock body %}