{% extends '../base.html'%}
{% load static %}

{% block body %}
<div class="inicio">
    <div class="header">
        <div class="logo-container">
            <img src="{% static logo %}" alt="">
        </div>
    </div><!-- End header -->

    <div class="container-fluid">

        <div id="inicio" class="path panel">
            <div class="presentacion row">
                {% include 'home/formularios/includes/img-asesor.html' %}

                <div class="col-lg-10 d-flex">
                    <p>¡Hola! Soy
                        <strong>
                            {{ nombre | title}},
                        </strong>
                        {{ bienvenida }}
                    </p>
                </div>
            </div><!-- End presentacion -->

            <div class="preguntas">
                <div class="row">
                    <div class="col-lg-7 d-flex justify-content-center">
                        <div class="opciones">
                            <h4><strong>¿Qué estás buscando?</strong></h4>
                            <div class="opcion opcionNext" for="c2">
                                <p>Compra Casa o Depa</p>
                            </div>
                            <div class="opcion opcionNext" for="m2">
                                <p>Mejora de Hipoteca</p>
                            </div>
                            <div class="opcion opcionNext" for="t2">
                                <p>Comprar Terreno</p>
                            </div>
                            <div class="opcion opcionNext" for="qc2">
                                <p>Quiero Construir</p>
                            </div>
                            <div class="opcion opcionNext" for="cc2">
                                <p>Comprar Terreno y Construir</p>
                            </div>
                            <div class="opcion opcionNext" for="l2">
                                <p>Necesito Liquidez</p>
                            </div>
                            <div class="opcion opcionNext" for="d2">
                                <p>Mejora de Hipoteca más Liquidez</p>
                            </div>

                            <input name="tramite" form="form-db" class="opcion-input" hidden>
                            <input name="tramite" form="form-mejora" class="opcion-input" hidden>
                        </div>
                    </div>
                    <div class="col-lg-5 d-flex">
                        <div style="color: darkgray;">
                            <br>
                            <br>
                            <h3><strong>Calcula tu crédito fácil y sin enredos.</strong></h3>
                            <br>
                            <h4><strong>Te ayudamos con el crédito hipotecario ideal para ti,</strong></h4>
                            <p>Conoce los beneficios.</p>
                            <br>
                            <h4><strong>Asesoría completamente</strong></h4>
                            <h4 style="color: red;"><strong>¡¡SIN COSTO!!</strong></h4>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-7 d-flex justify-content-center">
                        <div class="my-auto">
                            <img src="{% static 'img/in01.jpeg' %}" alt="imagen uno">
                        </div>
                    </div>
                    <div class="col-lg-5 d-flex justify-content-center">
                        <div style="width: 300px; text-align: justify;">
                            <p>
                                <br>
                                <strong>Descubre tu capacidad de crédito</strong>
                                <br>
                                <br>
                                Cada banco tiene sus políticas de otorgamiento de crédito distintas.
                                <br>
                                <br>
                                Calculamos una solución a tu medida con base a tus ingresos y los créditos actuales
                                vigentes.
                                <br>
                                <br>
                                Conoce en 3 minutos la línea de crédito que te pueden autorizar los distintos bancos.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-7 d-flex justify-content-center">
                        <div class="my-auto">
                            <img src="{% static 'img/in02.jpeg' %}" alt="imagen dos">
                        </div>
                    </div>
                    <div class="col-lg-5 d-flex justify-content-center">
                        <div style="width: 300px; text-align: justify;">
                            <p>
                                <br>
                                <strong>Buscamos tu seguridad.</strong>
                                <br>
                                <br>
                                Utilizamos tu información para ayudarte a tomar las mejores decisiones y te garantizamos
                                la seguridad y privacidad de tus
                                datos.
                                <br>
                                <br>
                                Tu información está segura, consulta nuestro <b><a class="visible-link"
                                        href="https://www.mshipotecaria.com/aviso-de-privacidad/" target="__blank">Aviso
                                        de
                                        Privacidad</a></b>
                            </p>
                        </div>
                    </div>
                </div>
            </div><!-- End preguntas -->
        </div>

        <form action="pagina_final/" method="post" id="form-db">
            {% csrf_token %}
            <input type="text" name="promotor" value="{{ id }}" hidden>
        </form>

        <form action="pagina_final_mejora/" method="post" id="form-mejora">
            {% csrf_token %}
            <input type="text" name="promotor" value="{{ id }}" hidden>
        </form>

        {% include 'home/formularios/compra.html' %}
        {% include 'home/formularios/mejora.html' %}
        {% include 'home/formularios/terreno.html' %}
        {% include 'home/formularios/construccion.html' %}
        {% include 'home/formularios/compra-cons.html' %}
        {% include 'home/formularios/liquidez.html' %}
        {% include 'home/formularios/deudas.html' %}
    </div><!-- End container-fluid -->
</div>
{% endblock body %}