<!-- ¿Cuál es tu ingreso mensual promedio? -->
{%include "../includes/panel.html" with id="empresario" desc="A empresarios como tú, el banco promedia los ingresos de los últimos 6 meses" pregunta="¿Cuál es tu ingreso mensual promedio?" %}
{%include "../includes/dinero.html" with name="valor" form="form-compra"%}
{%include "../includes/panel-botones.html" with btnAnt_for="actividad-principal" btnNext_for="giro-actividad"%}

<!-- ¿Cuál es el giro de tu actividad? -->
{%include "../includes/panel.html" with id="giro-actividad" desc="Es importante seleccionar correctamente el giro de tu actividad, ya que dependiendo de esto la Banca determina el porcentaje de ingreso a considerar." pregunta="¿Cuál es el giro de tu actividad?" %}
{%include "../includes/opcion.html" with texto="Servicios"%}
{%include "../includes/opcion.html" with texto="Comercio"%}
{%include "../includes/panel-botones.html" with btnAnt_for="empresario" btnNext_for="nombre"%}

<!-- ¿Cuál es el ingreso mensual promedio? -->
{%include "../includes/panel.html" with id="empresario-coacreditado" desc="A los Co-Acreditados Empresarios, el banco les promedia los ingresos de los últimos 6 meses." pregunta="¿Cuál es el ingreso mensual promedio?" %}
{%include "../includes/dinero.html" with name="valor" form="form-compra"%}
{%include "../includes/panel-botones.html" with btnAnt_for="actividad-coacreditado" btnNext_for="giro-actividad-coacreditado"%}

<!-- ¿Cuál es el giro de la actividad? -->
{%include "../includes/panel.html" with id="giro-actividad-coacreditado" desc="Es importante seleccionar correctamente el giro de tu actividad, ya que dependiendo de esto la Banca determina el porcentaje de ingreso a considerar." pregunta="¿Cuál es el giro de la actividad?" %}
{%include "../includes/opcion.html" with texto="Servicios"%}
{%include "../includes/opcion.html" with texto="Comercio"%}
{%include "../includes/panel-botones.html" with btnAnt_for="empresario-coacreditado" btnNext_for="numero-correo"%}