{% extends '../../base.html' %}
{% load static %}
{% block librerias-adicionales%}
<link rel="stylesheet" href="{% static 'dashboard-template/assets/vendor/bootstrap/css/bootstrap.min.css' %}">
<link href="{% static 'dashboard-template/assets/vendor/fonts/circular-std/style.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'dashboard-template/assets/libs/css/style.css' %}">
<link rel="stylesheet" href="{% static 'dashboard-template/assets/vendor/fonts/fontawesome/css/fontawesome-all.css' %}">
<link rel="stylesheet" href="{% static 'dashboard-template/assets/vendor/vector-map/jqvmap.css' %}">
<link href="{% static 'dashboard-template/assets/vendor/jvectormap/jquery-jvectormap-2.0.2.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'dashboard-template/assets/vendor/charts/chartist-bundle/chartist.css' %}">
<link rel="stylesheet" href="{% static 'dashboard-template/assets/vendor/charts/c3charts/c3.css' %}">
<link rel="stylesheet" href="{% static 'dashboard-template/assets/vendor/charts/morris-bundle/morris.css' %}">
<link rel="stylesheet" type="text/css"
    href="{% static 'dashboard-template/assets/vendor/daterangepicker/daterangepicker.css' %}" />

<!-- Css Styling -->
<link rel="stylesheet" href="{% static 'css/dashboard-styles.css' %}">
{% endblock librerias-adicionales%}

{% block body %}

<div class="dashboard-main-wrapper">
    {% include 'dashboard/shared/navbar.html' %}
    {% include 'dashboard/shared/sidebar.html' %}
    <div class="dashboard-wrapper">
        <div class="container-fluid  dashboard-content">
            <div class="row">
                Nombre: {{ object.first_name }}<br>
                Apellidos: {{ object.last_name }}<br>
                Nombre de usuario: {{ object.username }}<br>
                Email: {{ object.email }}<br>
                Numero de telefono: {{ object.telefono }}<br>
                Puesto: {{ object.modalidad }}<br>
                
                {% if user.modalidad == 'Promotor' %}
                    Asesor: {{ object.asesor }}<br>
                    Texto de bienvenida: {{ object.bienvenida_txt }}<br>
                    Texto de despedida: {{ object.despedida_txt }}<br>
                    Foto: {{ object.foto }}<br>
                    url: {{ object.url }}<br>
                {% endif %}

                <a href="{% url 'users_app:u-edit' object.pk %}"><img src="{% static 'img\ic-edit.png' %}" width="32"></a> 
                <a href="{% url 'users_app:u-delete' object.pk %}"><img src="{% static 'img\ic-delete.png' %}" width="32"></a>
                <a href="{% url 'users_app:u-updatePass' object.pk %}">
                    <div class="d-flex">
                        <input type="button" class="btn btn-teal btn-primary btn-lg rounded-pill lift lift-sm"
                            value="Cambiar contraseña">
                    </div>
                </a>
        </div>
    </div>
</div>

{% block scripts-adicionales %}
<!-- slimscroll js -->
<script src="assets/vendor/slimscroll/jquery.slimscroll.js"></script>
<!-- chart chartist js -->
<script src="assets/vendor/charts/chartist-bundle/chartist.min.js"></script>
<script src="assets/vendor/charts/chartist-bundle/Chartistjs.js"></script>
<script src="assets/vendor/charts/chartist-bundle/chartist-plugin-threshold.js"></script>
<!-- chart C3 js -->
<script src="assets/vendor/charts/c3charts/c3.min.js"></script>
<script src="assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
<!-- chartjs js -->
<script src="assets/vendor/charts/charts-bundle/Chart.bundle.js"></script>
<script src="assets/vendor/charts/charts-bundle/chartjs.js"></script>
<!-- sparkline js -->
<script src="assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
<!-- dashboard finance js -->
<script src="assets/libs/js/dashboard-finance.js"></script>
<!-- main js -->
<script src="assets/libs/js/main-js.js"></script>
<!-- gauge js -->
<script src="assets/vendor/gauge/gauge.min.js"></script>
<!-- morris js -->
<script src="assets/vendor/charts/morris-bundle/raphael.min.js"></script>
<script src="assets/vendor/charts/morris-bundle/morris.js"></script>
<script src="assets/vendor/charts/morris-bundle/morrisjs.html"></script>
{% endblock scripts-adicionales %}
{% endblock body %}