{%load static%}
<div class="nav-left-sidebar sidebar-dark">
    <div class="menu-list">

        <div class="d-none d-md-flex administrador">
            <img src="{%static 'img/ic-logo.png'%}" alt="logo">
            <div>
                <p>MI SOLUCIÓN HIPOTECARIA</p>
                <p>{{ user }}</p>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav flex-column">
                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'users_app:u-dashboard' %}"><img src="{%static 'img/ic-1.png'%}"
                            alt="icono dashboard">Dashboard</a>
                    </li>

                    {% if user.modalidad == 'Asesor' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users_app:u-asesores' %}"><img src="{%static 'img/ic-2.png'%}"
                                alt="icono dashboard">Asesores</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users_app:u-promotores' %}"><img src="{%static 'img/ic-2.png'%}"
                                alt="icono dashboard">Promotores</a>
                        </li>
                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'clients_app:a-clientes' %}"><img src="{%static 'img/ic-3.png'%}"
                            alt="icono dashboard">Clientes</a>
                    </li>

                    {% if user.is_superuser %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'calc_app:c-banks' %}"><img src="{% static 'img/ic-3.png' %}"
                                alt="icono dashboard">Bancos</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'calc_app:c-empresas' %}"><img src="{% static 'img/ic-3.png' %}"
                                alt="icono dashboard">Empresas Afiliadas</a>
                        </li>
                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users_app:u-logout' %}"><img src="{%static 'img/ic-3.png'%}"
                            alt="icono dashboard">Cerrar Sesión</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>