{%load static%}
<div class="nav-left-sidebar sidebar-dark">
    <div class="menu-list">

        <div class="d-none d-md-flex administrador">
            <img src="{%static 'img/ic-logo.png'%}" alt="logo">
            <div>
                <p>MI SOLUCIÓN HIPOTECARIA</p>
                <p>Administrador</p>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav flex-column">
                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'a-dashboard' %}" data-toggle="collapse" aria-expanded="false"
                            data-target="#dashboard" aria-controls="submenu-1"><img src="{%static 'img/ic-1.png'%}"
                                alt="icono dashboard">Dashboard <span class="badge badge-success">6</span></a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'a-asesores' %}" data-toggle="collapse" aria-expanded="false"
                            data-target="#asesores" aria-controls="submenu-2"><img src="{%static 'img/ic-2.png'%}"
                                alt="icono dashboard">Asesores</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'a-clientes' %}" data-toggle="collapse" aria-expanded="false"
                            data-target="#submenu-3" aria-controls="submenu-3"><img src="{%static 'img/ic-3.png'%}"
                                alt="icono dashboard">Clientes</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>