<div class="preguntas">
    <div class="collapse" id="capitalTrabajo" data-parent="#formulario">
        <form>
            <div id="panel1">
                <div class="form-group">
                    <label for="valorPropiedad">¿CUÁNTO VALE LA PROPIEDAD QUE QUIERES DEJAR EN GARANTÍA?</label>
                    <input type="number" class="form-control" id="valorPropiedad" value="0" min="500000">
                </div>
                <button type="button" class="btnNext" class="btn btn-primary">SIGUIENTE</button>
            </div>

            <div id="panel2">
                <div class="form-group">
                    <label for="valorPropiedad">¿CÓMO PERCIBES TUS INGRESOS?</label>
                    <input type="number" class="form-control" id="valorPropiedad" value="0" min="500000">
                </div>
                <button type="button" class="btnPrev" class="btn btn-primary">ANTERIOR</button>
                <button type="button" class="btnNext" class="btn btn-primary">SIGUIENTE</button>
            </div>
        </form>
    </div>
</div>