<!-- 2. ¿Ya tienes el inmueble identificado? -->
{%include "./includes/panel.html" with id="cc2" per=6.25 desc="¡Perfecto! ¿Sabías que tu crédito autorizado se puede utilizar para comprar una casa nueva o usada?" pregunta="¿Ya tienes el inmueble identificado?" %}
{%include "./includes/opcion.html" with for="cc3" texto="Ya lo tengo visto"%}
{%include "./includes/opcion.html" with for="actividad" texto="Lo estoy buscando"%}
{%include "./includes/opcion.html" with class="opcion not" for="actividad" texto="Solo quiero conocer mi capacidad de crédito"%}
{%include "./includes/panel-botones.html"%}

<!-- 3. ¿Cuál es el valor aproximado del proyecto (Terreno + Construcción)? -->
{%include "./includes/panel.html" with id="cc3" per=12.5 desc="El importe de un valor de inmueble nos servirá para poder darte opciones según tu capacidad de crédito" pregunta="¿Cuál es el valor aproximado del proyecto (Terreno + Construcción)?" %}
{%include "./includes/dinero.html" with name="valor_inmueble" form="form-db" only%}
{%include "./includes/panel-botones-siguiente.html" with next="actividad" emsg="El campo valor debe ser mayor a 0"%}