<!-- 2. ¿Ya tienes el inmueble identificado? -->
{%include "./includes/panel.html" with id="c2" per=6.25 desc="¡Perfecto! ¿Sabías que tu crédito autorizado se puede utilizar para comprar una casa nueva o usada?" pregunta="¿Ya tienes el inmueble identificado?" %}
{%include "./includes/opcion.html" with for="valor-inmueble" texto="Ya lo tengo visto"%}
{%include "./includes/opcion.html" with for="actividad" texto="Lo estoy buscando"%}
{%include "./includes/opcion.html" with class="opcion not" for="actividad" texto="Solo quiero conocer mi capacidad de crédito"%}
{%include "./includes/panel-botones.html"%}