<div class="preguntas">
    <div class="collapse" id="compra" data-parent="#formulario">
        <form>

            <div class="form-group">
                <label>¡EXCELENTE! MI NOMBRE ES ... Y TE VOY A GUIAR EN ESTE PROCESO 👍</label>
                <small class="form-text text-muted">Primero es necesario que puedas sustentar ingresos para la
                    evaluación del crédito</small>
                <a role="button">
                    <div class="btnPanelEs3 btnEs">
                        <p>Si, continuemos</p>
                    </div>
                </a>

                <a role="button">
                    <div class="btnPanelEs3 btnEs no">
                        <p>No, no tengo cómo sustentar mis ingresos</p>
                    </div>
                </a>
            </div>

            <div class="panelEs alt">
                <div class="form-group">
                    <label>SI NO TIENES CÓMO SUSTENTAR INGRESOS, NO VAMOS A PODER AYUDARTE POR EL MOMENTO 😢</label>
                </div>
            </div>


            <div class="panelEs3 panelEs">
                <div class="form-group">
                    <label>¿CUÁNTO VALE LA PROPIEDAD ASOCIADO CON EL CRÉDITO HIPOTECARIO?</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input name="valor" type="text" class="form-control money" required>
                        <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                        </div>
                    </div>
                    <small class="emsg form-text text-muted hidden">El campo valor debe ser entre $500,000 y
                        $180,000,000</small>
                </div>

                <a role="button">
                    <div class="btnNext btn">
                        SIGUIENTE
                    </div>
                </a>
            </div>

            {% include 'home/formularios/common/basicform.html'%}

        </form>
    </div>
</div>