<div class="section">


    <!-- Pregunta uno -->
    <div class="panel first">
        <div class="presentacion row">
            <div class="col-lg-2 d-flex justify-content-center">
                <div class="img-container">
                </div>
            </div>

            <div class="col-lg-10 d-flex justify-content-center">
                <p>¡Perfecto! ¿Sabías que tu crédito autorizado se puede utilizar para comprar una casa nueva o usada?
                </p>
            </div>

        </div><!-- End presentacion -->

        <div class="preguntas">
            <div class="row">
                <div class="col-lg-4 d-flex justify-content-center">

                </div>
                <div class="col-lg-8 d-flex justify-content-center">

                    <div class="opciones">
                        <h4><strong>¿Ya tienes el inmueble identificado?</strong></h4>
                        <div class="opcion">
                            <p>Ya lo tengo visto</p>
                        </div>
                        <div class="opcion">
                            <p>Lo estoy buscando</p>
                        </div>
                        <div class="opcion not">
                            <p>Solo quiero conocer mi capacidad de crédito</p>
                        </div>
                        <small class="emsg form-text text-muted hidden">Por favor, elija una opción</small>
                        <div class="d-flex justify-content-center">
                            <div class="btnAnt">
                                <p>Anterior</p>
                            </div>
                            <div class="btnNext">
                                <p>Siguiente</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End preguntas -->
    </div>



    <!-- Pregunta dos -->
    <div class="panel">
        <div class="presentacion row">
            <div class="col-lg-2 d-flex justify-content-center">
                <div class="img-container">
                </div>
            </div>

            <div class="col-lg-10 d-flex justify-content-center">
                <p>El importe de un valor de inmueble nos servirá para poder darte opciones según tu capacidad de
                    crédito</p>
            </div>

        </div><!-- End presentacion -->

        <div class="preguntas">
            <div class="row">
                <div class="col-lg-4 d-flex justify-content-center">

                </div>
                <div class="col-lg-8 d-flex justify-content-center">

                    <div class="opciones">
                        <h4><strong>¿Cuál es el valor aproximado del inmueble?</strong></h4>
                        <div class="opcion">
                            <p>Ya lo tengo visto</p>
                        </div>
                        <div class="opcion">
                            <p>Lo estoy buscando</p>
                        </div>
                        <div class="opcion not">
                            <p>Solo quiero conocer mi capacidad de crédito</p>
                        </div>


                        <div class="d-flex justify-content-center">
                            <div class="btnAnt">
                                <p>Anterior</p>
                            </div>
                            <div class="btnNext">
                                <p>Siguiente</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End preguntas -->
    </div>


</div>