<!-- 2. ¿Ya tienes el inmueble identificado? -->
{%include "./includes/panel.html" with id="cc2" per=6.25 desc="¡Perfecto! ¿Sabías que tu crédito autorizado se puede utilizar para comprar una casa nueva o usada?" pregunta="¿Ya tienes el inmueble identificado?" %}
{%include "./includes/opcion.html" with for="cc3" texto="Ya lo tengo visto"%}
{%include "./includes/opcion.html" with for="cc4" texto="Lo estoy buscando"%}
{%include "./includes/opcion.html" with class="opcion not" for="cc4" texto="Solo quiero conocer mi capacidad de crédito"%}
{%include "./includes/panel-botones.html"%}

<!-- 3. ¿Cuál es el valor aproximado del proyecto (Terreno + Construcción)? -->
{%include "./includes/panel.html" with id="cc3" per=12.5 desc="El importe de un valor de inmueble nos servirá para poder darte opciones según tu capacidad de crédito" pregunta="¿Cuál es el valor aproximado del proyecto (Terreno + Construcción)?" %}
{%include "./includes/dinero.html" with name="valor" form="form-compra" only%}
{%include "./includes/panel-botones.html" with next="cc4" emsg="El campo valor debe ser mayor a 0"%}

<!-- 4. ¿Cuál es el tu actividad principal? -->
{%include "./includes/panel.html" with id="cc4" per=18.75 desc="Es importante especificar bien tu actividad, ya que dependiendo de esto la Banca determina el porcentaje de ingreso a considerar" pregunta="¿Cuál es el tu actividad principal?" %}
{%include "./includes/opcion.html" with for="cc5" texto="Empleado"%}
{%include "./includes/opcion.html" with for="cc5i" texto="Independiente"%}
{%include "./includes/opcion.html" with for="cc5e" texto="Empresario"%}
{%include "./includes/opcion.html" with for="cc5s" texto="Socio Accionista"%}
{%include "./includes/opcion.html" with for="cc5u" texto="Trabajo en USA"%}
{%include "./includes/opcion-input.html" with name="actividad" form="form-compra"%}
{%include "./includes/panel-botones.html"%}

<!-- 5. ¿Cotizas para alguna de estas instituciones? -->
{%include "./includes/panel.html" with id="cc5" per=25 desc="Cuando cotizas para alguna institución gubernamental hay posibilidades de ampliar las opciones que te brindan los bancos." pregunta="¿Cotizas para alguna de estas instituciones?" %}
{%include "./includes/opcion.html" with texto="Infonavit" for="cc6"%}
{%include "./includes/opcion.html" with texto="Fovissste" for="cc6"%}
{%include "./includes/opcion.html" with texto="Otro" for="cc7"%}
{%include "./includes/opcion.html" with texto="Ninguno" for="cc7"%}
{%include "./includes/opcion-input.html" with name="seguro" form="form-compra"%}
{%include "./includes/panel-botones.html"%}

<!-- 5i. ¿Cuál es tu ingreso mensual promedio? -->
{%include "./includes/panel.html" with id="cc5i" per=25 desc="A personas independientes como tú, el banco promedia los ingresos de los últimos 6 meses" pregunta="¿Cuál es tu ingreso mensual promedio?" %}
{%include "./includes/dinero.html" with name="valor" form="form-compra"%}
{%include "./includes/panel-botones.html" with next="cc6e" emsg="El campo valor debe ser mayor a 0"%}

<!-- 5e. ¿Cuál es tu ingreso mensual promedio? -->
{%include "./includes/panel.html" with id="cc5e" per=25 desc="A empresarios como tú, el banco promedia los ingresos de los últimos 6 meses" pregunta="¿Cuál es tu ingreso mensual promedio?" %}
{%include "./includes/dinero.html" with name="valor" form="form-compra"%}
{%include "./includes/panel-botones.html" with next="cc6e" emsg="El campo valor debe ser mayor a 0"%}

<!-- 5s. ¿Cuál es tu ingreso mensual promedio? -->
{%include "./includes/panel.html" with id="cc5s" per=25 desc="A los emprendedores como tú, el banco promedia los ingresos de los últimos 6 meses" pregunta="¿Cuál es tu ingreso mensual promedio?" %}
{%include "./includes/dinero.html" with name="valor" form="form-compra"%}
{%include "./includes/panel-botones.html" with next="cc6e" emsg="El campo valor debe ser mayor a 0"%}

<!-- 5u. ¿Cuál es tu ingreso mensual promedio? -->
{%include "./includes/panel.html" with id="cc5u" per=25 desc="¿Sabías que aunque trabajes en Estados Unidos puedes tener acceso a un crédito hipotecario para comprar casa en México? ¡Cosecha el esfuerzo de tus logros! <br> (Único requisito, tener papales de residencia en regla)" pregunta="¿Cuál es tu ingreso mensual promedio (en pesos mexicanos)?" %}
{%include "./includes/dinero.html" with name="valor" form="form-compra"%}
{%include "./includes/panel-botones.html" with next="cc6u" emsg="El campo valor debe ser mayor a 0"%}

<!-- 6. ¿Actualmente estas pagando un crédito Infonavit o Fovissste? // ¿Ya ejerciste o estas pagando tu Crédito Infonavit o Fovissste? -->
{%include "./includes/panel.html" with id="cc6" per=31.25 desc="El banco te da la oportunidad de acceder a un crédito hipotecario, aunque estés pagando un crédito con Infovanit o Fovissste." pregunta="¿Actualmente estas pagando un crédito Infonavit o Fovissste?" %}
{%include "./includes/opcion.html" with texto="Sí"%}
{%include "./includes/opcion.html" with texto="No"%}
{%include "./includes/panel-botones.html" with next="cc7"%}

<!-- 6e. ¿Cuál es el giro de tu actividad? -->
{%include "./includes/panel.html" with id="cc6e" per=31.25 desc="Es importante seleccionar correctamente el giro de tu actividad, ya que dependiendo de esto la Banca determina el porcentaje de ingreso a considerar." pregunta="¿Cuál es el giro de tu actividad?" %}
{%include "./includes/opcion.html" with texto="Servicios"%}
{%include "./includes/opcion.html" with texto="Comercio"%}
{%include "./includes/opcion.html" with texto="Otro"%}
{%include "./includes/panel-botones.html" with next="cc8"%}

<!-- 6u. ¿El Co-Acreditado cotiza para alguna de estas instituciones? -->
{%include "./includes/panel.html" with id="cc6u" per=31.25 desc="Es importante especificar bien el giro de tu actividad, ya que dependiendo de esto la Banca determina el porcentaje de ingreso a considerar" pregunta="¿Cuál es el giro de tu actividad?" %}
{%include "./includes/opcion.html" with texto="Empleado"%}
{%include "./includes/opcion.html" with texto="Independiente"%}
{%include "./includes/panel-botones.html" with next="cc8"%}

<!-- 7. ¿Cuál es tu ingreso mensual? -->
{%include "./includes/panel.html" with id="cc7" per=37.5 desc="Los bancos calculan tu capacidad de crédito basándose en tus ingresos incluso si tienes dos fuentes de ingreso. Por favor, declara el total de todas tus fuentes de ingresos." pregunta="¿Cuál es tu ingreso mensual?" %}
{%include "./includes/dinero.html" with name="valor" form="form-compra" titulo="Salario Neto"%}
{%include "./includes/panel-botones.html" with next="cc8" emsg="El campo valor debe ser mayor a 0"%}

<!-- 8. ¿Cuál es tu nombre y apellido? -->
{%include "./includes/panel.html" with id="cc8" per=43.75 desc="Por cierto, ¿Cuál es tu nombre? <br> Me gustaría personalizarte la información que te voy a entregar." pregunta="¿Cuál es tu nombre y apellido?"%}
<input name="nombre" type="text" class="form-control" id="nombreInput" form="form-compra" maxlength="50" disabled />
{%include "./includes/panel-botones.html" with next="cc9" emsg="Ingrese un nombre válido"%}

<!-- 9. ¿Cuál es tu estado civil? -->
{%include "./includes/panel.html" with id="cc9" per=50 desc="Tu estado civil es importante para el perfilamiento, ya que será lo que se plasmará en escrituras, ¿cuál es tu caso?" pregunta="¿Cuál es tu estado civil?" %}
{%include "./includes/opcion.html" with texto="Soltero"%}
{%include "./includes/opcion.html" with texto="Casado"%}
{%include "./includes/opcion.html" with texto="Unión Libre"%}
{%include "./includes/panel-botones.html" with next="cc10"%}

<!-- 10. ¿Te gustaría demostrar un ingreso mayor para aumentar tu capacidad de crédito? -->
{%include "./includes/panel.html" with id="cc10" per=56.25 desc="¿Sabías que puedes incrementar tu capacidad de crédito al unir ingresos con otra persona? (pareja, familiar, amigo) a la que se le denomina Co-Acreditado." pregunta="¿Te gustaría demostrar un ingreso mayor para aumentar tu capacidad de crédito?" %}
{%include "./includes/opcion.html" with for="cc11" texto="Sí, quiero agregar un Co-Acreditado"%}
{%include "./includes/opcion.html" with for="cc15" texto="No, solo yo comprobare ingresos"%}
{%include "./includes/panel-botones.html"%}

<!-- 11. ¿Cuál es la actividad principal del Co-Acreditado? -->
{%include "./includes/panel.html" with id="cc11" per=62.5 desc="Perfecto, el unir ingresos con un Co-Acreditado incrementará tu capacidad de crédito." pregunta="¿Cuál es la actividad principal del Co-Acreditado?" %}
{%include "./includes/opcion.html" with for="cc12" texto="Empleado"%}
{%include "./includes/opcion.html" with for="cc12i" texto="Independiente"%}
{%include "./includes/opcion.html" with for="cc12e" texto="Empresario"%}
{%include "./includes/opcion.html" with for="cc12s" texto="Socio Accionista"%}
{%include "./includes/opcion.html" with for="cc12u" texto="Trabajo en USA"%}
{%include "./includes/panel-botones.html"%}

<!-- 12. ¿El Co-Acreditado cotiza para alguna de estas instituciones? -->
{%include "./includes/panel.html" with id="cc12" per=68.75 desc="Cuando cotizas para alguna institución gubernamental hay posibilidades de ampliar las opciones que te brindan los bancos." pregunta="¿El Co-Acreditado cotiza para alguna de estas instituciones?" %}
{%include "./includes/opcion.html" with texto="Infonavit" for="cc13"%}
{%include "./includes/opcion.html" with texto="Fovissste" for="cc13"%}
{%include "./includes/opcion.html" with texto="Otro" for="cc14"%}
{%include "./includes/opcion.html" with texto="Ninguno" for="cc14"%}
{%include "./includes/panel-botones.html"%}

<!-- 12i. ¿Cuál es el ingreso mensual promedio? -->
{%include "./includes/panel.html" with id="cc12i" per=68.75 desc="A los Co-Acreditados Independientes, el banco les promedia los ingresos de los últimos 6 meses." pregunta="¿Cuál es el ingreso mensual promedio?" %}
{%include "./includes/dinero.html" with name="valor" form="form-compra"%}
{%include "./includes/panel-botones.html" with next="cc13e" emsg="El campo valor debe ser mayor a 0"%}

<!-- 12e. ¿Cuál es el ingreso mensual promedio? -->
{%include "./includes/panel.html" with id="cc12e" per=68.75 desc="A los Co-Acreditados Empresarios, el banco les promedia los ingresos de los últimos 6 meses." pregunta="¿Cuál es el ingreso mensual promedio?" %}
{%include "./includes/dinero.html" with name="valor" form="form-compra"%}
{%include "./includes/panel-botones.html" with next="cc13e" emsg="El campo valor debe ser mayor a 0"%}

<!-- 12s. ¿Cuál es el ingreso mensual promedio? -->
{%include "./includes/panel.html" with id="cc12s" per=68.75 desc="A los Co-Acreditados Socio Accionista, el banco les promedia los ingresos de los últimos 6 meses." pregunta="¿Cuál es el ingreso mensual promedio?" %}
{%include "./includes/dinero.html" with name="valor" form="form-compra"%}
{%include "./includes/panel-botones.html" with next="cc13e" emsg="El campo valor debe ser mayor a 0"%}

<!-- 12u. ¿Cuál es el ingreso mensual promedio? -->
{%include "./includes/panel.html" with id="cc12u" per=68.75 desc="A los Co-Acreditados, el banco les promedia los ingresos de los últimos 6 meses." pregunta="¿Cuál es el ingreso mensual promedio? (en pesos mexicanos)" %}
{%include "./includes/dinero.html" with name="valor" form="form-compra"%}
{%include "./includes/panel-botones.html" with next="cc13e" emsg="El campo valor debe ser mayor a 0"%}

<!-- 13. ¿El Co-Acreditado ya ejerció o esta pagando su Crédito Infonavit o Fovisste? -->
{%include "./includes/panel.html" with id="cc13" per=75 desc="Vamos ampliando posibilidades..." pregunta="¿El Co-Acreditado ya ejerció o esta pagando su Crédito Infonavit o Fovisste?"%}
{%include "./includes/opcion.html" with texto="Sí"%}
{%include "./includes/opcion.html" with texto="No"%}
{%include "./includes/panel-botones.html" with next="cc14"%}

<!-- 13e. ¿Cuál es el giro de la actividad? -->
{%include "./includes/panel.html" with id="cc13e" per=75 desc="Es importante seleccionar correctamente el giro de tu actividad, ya que dependiendo de esto la Banca determina el porcentaje de ingreso a considerar." pregunta="¿Cuál es el giro de la actividad?" %}
{%include "./includes/opcion.html" with texto="Servicios"%}
{%include "./includes/opcion.html" with texto="Comercio"%}
{%include "./includes/opcion.html" with texto="Otro"%}
{%include "./includes/panel-botones.html" with next="cc15"%}

<!-- 14. ¿Cuál es el ingreso mensual del Co-Acreditado? -->
{%include "./includes/panel.html" with id="cc14" per=81.25 desc="Ok, unamos los ingresos tuyos con tu Co-Acreditado, de igual forma puede demostrar ingresos con varios empleos." pregunta="¿Cuál es el ingreso mensual del Co-Acreditado?"%}
{%include "./includes/dinero.html" with name="valor" form="form-compra" titulo="Salario Neto"%}
{%include "./includes/panel-botones.html" with next="cc15" emsg="El campo valor debe ser mayor a 0"%}

<!-- 15. Captura lo que pagas de los siguientes tipos de créditos: -->
{%include "./includes/panel.html" with id="cc15" per=87.5 desc="El banco revisa el endeudamiento actual de los créditos a tu nombre y del Co-Acreditado (si es el caso) para conocer tu capacidad de crédito. Captura tus gastos acutales (crédito automotriz, tarjetas de crédito, departamentales, hipotecario o préstamo personal)" pregunta="Captura lo que pagas de créditos:"%}
<p>Suma los gastos del Co-Acreditado si es el caso</p>
{%include "./includes/dinero.html" with name="valor" form="form-compra" titulo="Créditos"%}
{%include "./includes/panel-botones.html" with next="cc16" emsg="El campo valor debe ser mayor a 0"%}

<!-- 16. Numero y correo: -->
{%include "./includes/final.html" with id="cc16" per=93.75 next="cc17"%}


<!-- PIN -->
{%include "./includes/panel.html" with id="cc17" per=100 desc="Captura el PIN que recibiste por mensaje y obtendrás tu reporte al instante" pregunta="Captura tu PIN aquí:"%}
<input type="number" class="form-control" maxlength="6">
{%include "./includes/panel-botones.html" with next=next%}