<!-- 2. ¿Tienes a tu nombre alguna casa que puedieras dejar en garantía? -->
{%include "./includes/panel.html" with id="d2" per=6.25 desc="¡Perfecto! ¿Sabías que el crédito de liquidez lo puedes utilizar para lo que gustes? El requisito principal es tener una propiedad (casa habitación para dejar en garantía), no importa que esta esté hipotecada (para esto último hay ciertas resticciones)" pregunta="¿Tienes a tu nombre alguna casa que puedieras dejar en garantía?" %}
{%include "./includes/opcion.html" with for="valor-inmueble" texto="Sí"%}
{%include "./includes/opcion.html" with for="d-regresar" texto="No"%}
<!-- {%include "./includes/opcion-input.html" with form="form-db" name="inmueble_identificado"%} -->
{%include "./includes/panel-botones.html"%}

<!-- Regresar al menú principal -->
{%include "./includes/panel.html" with id="d-regresar" per=100 desc="Para poder aplicar a este tipo de crédito es necesario tener una propiedad a dejar en garantía, si gustas podemos ver otro tipo de crédito." %}
<div class="opcion goToMenu" for="inicio">
    <p>Menú Principal</p>
</div>

<div class="d-flex justify-content-center">
    <button class="btnAnt">
        Anterior
    </button>
</div>
</div>
</div>
</div>
</div><!-- End preguntas -->
</div><!-- End panel -->

<!-- 3. ¿Cuál es el valor aproximado del inmueble? -->
{%include "./includes/panel.html" with id="valor-inmueble" per=12.5 desc="El importe de un valor de inmueble nos servirá para poder determinar el monto máximo de crédito que te pudiera prestar el banco." pregunta="¿Cuál es el valor aproximado del inmueble?" %}
{%include "./includes/dinero.html" with form="form-db" name="valor_inmueble"%}
{%include "./includes/panel-botones-siguiente.html" with next="actividad" emsg="El campo valor debe ser mayor a 0"%}

<!-- 4. ¿Cuál es el tu actividad principal? -->
{%include "./includes/panel.html" with id="actividad" per=18.75 desc="Es importante especificar bien tu actividad, ya que dependiendo de esto la Banca determina el porcentaje de ingreso a considerar" pregunta="¿Cuál es el tu actividad principal?" %}
{%include "./includes/opcion.html" with for="cotiza" texto="Empleado"%}
{%include "./includes/opcion.html" with for="ingreso-independiente" texto="Independiente"%}
{%include "./includes/opcion.html" with for="ingreso-empresario" texto="Empresario"%}
{%include "./includes/opcion.html" with for="ingreso-socio" texto="Socio Accionista"%}
{%include "./includes/opcion.html" with for="giro-usa" texto="Trabajo en USA"%}
{%include "./includes/opcion-input.html" with form="form-db" name="actividad"%}
{%include "./includes/panel-botones.html"%}

<!-- 5. ¿Cotizas para alguna de estas instituciones? -->
{%include "./includes/panel.html" with id="cotiza" per=25 desc="Cuando cotizas para alguna institución gubernamental hay posibilidades de ampliar las opciones que te brindan los bancos." pregunta="¿Cotizas para alguna de estas instituciones?" %}
{%include "./includes/opcion.html" with texto="Infonavit" for="ejercer-infonavit"%}
{%include "./includes/opcion.html" with texto="Fovissste" for="ejercer-infonavit"%}
{%include "./includes/opcion.html" with texto="Otro" for="ingreso-mensual"%}
{%include "./includes/opcion.html" with texto="Ninguno" for="ingreso-mensual"%}
{%include "./includes/opcion-input.html" with form="form-db" name="institucion"%}
{%include "./includes/panel-botones.html"%}

<!-- 5u. ¿Cuál es el giro de tu actividad? GIRO USA-->
{%include "./includes/panel.html" with id="giro-usa" per=25 desc="Es importante especificar bien el giro de tu actividad, ya que dependiendo de esto la Banca determina el porcentaje de ingreso a considerar" pregunta="¿Cuál es el giro de tu actividad?" %}
{%include "./includes/opcion.html" with for="ingreso-usa-e" texto="Empleado"%}
{%include "./includes/opcion.html" with for="ingreso-usa-i" texto="Independiente"%}
{%include "./includes/opcion-input.html" with form="form-db" name="giro_actividad"%}
{%include "./includes/panel-botones.html" %}

<!-- 5i. ¿Cuál es tu ingreso mensual promedio? -->
{%include "./includes/panel.html" with id="ingreso-independiente" per=25 desc="A personas independientes como tú, el banco promedia los ingresos de los últimos 6 meses" pregunta="¿Cuál es tu ingreso mensual promedio?" %}
{%include "./includes/dinero.html" with name="ingreso_mensual" form="form-db"%}
{%include "./includes/panel-botones-siguiente.html" with next="giro" emsg="El campo valor debe ser mayor a 0"%}

<!-- 5e. ¿Cuál es tu ingreso mensual promedio? -->
{%include "./includes/panel.html" with id="ingreso-empresario" per=25 desc="A empresarios como tú, el banco promedia los ingresos de los últimos 6 meses" pregunta="¿Cuál es tu ingreso mensual promedio?" %}
{%include "./includes/dinero.html" with name="ingreso_mensual" form="form-db"%}
{%include "./includes/panel-botones-siguiente.html" with next="giro" emsg="El campo valor debe ser mayor a 0"%}

<!-- 5s. ¿Cuál es tu ingreso mensual promedio? -->
{%include "./includes/panel.html" with id="ingreso-socio" per=25 desc="A los emprendedores como tú, el banco promedia los ingresos de los últimos 6 meses" pregunta="¿Cuál es tu ingreso mensual promedio?" %}
{%include "./includes/dinero.html" with name="ingreso_mensual" form="form-db"%}
{%include "./includes/panel-botones-siguiente.html" with next="giro" emsg="El campo valor debe ser mayor a 0"%}

<!-- 6u. ¿Cuál es tu ingreso mensual promedio? INGRESO USA-->
{%include "./includes/panel.html" with id="ingreso-usa-e" per=31.25 desc="¿Sabías que aunque trabajes en Estados Unidos puedes tener acceso a un crédito hipotecario para comprar casa en México? ¡Cosecha el esfuerzo de tus logros! <br> (Único requisito, tener papales de residencia en regla) ¿Cual sería tu Ingreso mensual?" pregunta="¿Cuál es tu ingreso mensual (en pesos mexicanos)?" %}
{%include "./includes/dinero.html" with name="ingreso_mensual" form="form-db"%}
{%include "./includes/panel-botones-siguiente.html" with next="nombre" emsg="El campo valor debe ser mayor a 0"%}

<!-- 6u. ¿Cuál es tu ingreso mensual promedio? INGRESO USA-->
{%include "./includes/panel.html" with id="ingreso-usa-i" per=31.25 desc="¿Sabías que aunque trabajes en Estados Unidos puedes tener acceso a un crédito hipotecario para comprar casa en México? ¡Cosecha el esfuerzo de tus logros! <br> (Único requisito, tener papales de residencia en regla) ¿Cual sería tu Ingreso mensual promedio de los últimos 6 meses" pregunta="¿Cuál es tu ingreso mensual promedio (en pesos mexicanos)?" %}
{%include "./includes/dinero.html" with name="ingreso_mensual" form="form-db"%}
{%include "./includes/panel-botones-siguiente.html" with next="nombre" emsg="El campo valor debe ser mayor a 0"%}

<!-- 6. ¿Actualmente estas pagando un crédito Infonavit o Fovissste? // ¿Ya ejerciste o estas pagando tu Crédito Infonavit o Fovissste? -->
{%include "./includes/panel.html" with id="ejercer-infonavit" per=31.25 desc="El banco te da la oportunidad de acceder a un crédito hipotecario, aunque estés pagando un crédito con Infovanit o Fovissste." pregunta="¿Actualmente estas pagando un crédito Infonavit o Fovissste?" %}
{%include "./includes/opcion.html" with for="ingreso-mensual" texto="Sí"%}
{%include "./includes/opcion.html" with for="ingreso-mensual" texto="No"%}
{%include "./includes/opcion-input.html" with form="form-db" name="pagando_credito_inmb"%}
{%include "./includes/panel-botones.html"%}

<!-- 6e. ¿Cuál es el giro de tu actividad? -->
{%include "./includes/panel.html" with id="giro" per=31.25 desc="Es importante seleccionar correctamente el giro de tu actividad, ya que dependiendo de esto la Banca determina el porcentaje de ingreso a considerar." pregunta="¿Cuál es el giro de tu actividad?" %}
{%include "./includes/opcion.html" with for="nombre" texto="Servicios"%}
{%include "./includes/opcion.html" with for="nombre" texto="Comerciante"%}
{%include "./includes/opcion.html" with for="nombre" texto="Otros"%}
{%include "./includes/opcion-input.html" with form="form-db" name="giro_actividad"%}
{%include "./includes/panel-botones.html"%}


<!-- 7. ¿Cuál es tu ingreso mensual? -->
{%include "./includes/panel.html" with id="ingreso-mensual" per=37.5 desc="Los bancos calculan tu capacidad de crédito basándose en tus ingresos incluso si tienes dos fuentes de ingreso. Por favor, declara el total de todas tus fuentes de ingresos." pregunta="¿Cuál es tu ingreso mensual?" %}
{%include "./includes/dinero.html" with name="ingreso_mensual" form="form-db" titulo="Salario Neto"%}
{%include "./includes/panel-botones-siguiente.html" with next="nombre" emsg="El campo valor debe ser mayor a 0"%}

<!-- 8. ¿Cuál es tu nombre y apellido? -->
{%include "./includes/panel.html" with id="nombre" per=43.75 desc="Por cierto, ¿Cuál es tu nombre? <br> Me gustaría personalizarte la información que te voy a entregar." pregunta="¿Cuál es tu nombre y apellido?"%}
<input name="nombre" type="text" class="form-control" form="form-db" maxlength="50" disabled />
{%include "./includes/panel-botones-siguiente.html" with next="estado-civil" emsg="Ingrese un nombre válido"%}

<!-- 9. ¿Cuál es tu estado civil? -->
{%include "./includes/panel.html" with id="estado-civil" per=50 desc="Tu estado civil es importante para el perfilamiento, ya que será lo que se plasmará en escrituras, ¿cuál es tu caso?" pregunta="¿Cuál es tu estado civil?" %}
{%include "./includes/opcion.html" with for="coacreditado" texto="Soltero"%}
{%include "./includes/opcion.html" with for="coacreditado" texto="Casado"%}
{%include "./includes/opcion.html" with for="coacreditado" texto="Unión Libre"%}
{%include "./includes/opcion-input.html" with form="form-db" name="estado_civil"%}
{%include "./includes/panel-botones.html" %}

<!-- 10. ¿Te gustaría demostrar un ingreso mayor para aumentar tu capacidad de crédito? -->
{%include "./includes/panel.html" with id="coacreditado" per=56.25 desc="¿Sabías que puedes incrementar tu capacidad de crédito al unir ingresos con otra persona? (pareja, familiar, amigo) a la que se le denomina Co-Acreditado." pregunta="¿Te gustaría demostrar un ingreso mayor para aumentar tu capacidad de crédito?" %}
{%include "./includes/opcion.html" with for="actividad-coacreditado" texto="Sí, quiero agregar un Co-Acreditado"%}
{%include "./includes/opcion.html" with for="creditos" texto="No, solo yo comprobare ingresos"%}
<!-- {%include "./includes/opcion-input.html" with form="form-db" name="mostrar_mayor_ingreso"%} -->
{%include "./includes/panel-botones.html"%}

<!-- 11. ¿Cuál es la actividad principal del Co-Acreditado? -->
{%include "./includes/panel.html" with id="actividad-coacreditado" per=62.5 desc="Perfecto, el unir ingresos con un Co-Acreditado incrementará tu capacidad de crédito." pregunta="¿Cuál es la actividad principal del Co-Acreditado?" %}
{%include "./includes/opcion.html" with for="cotiza-coacreditado" texto="Empleado"%}
{%include "./includes/opcion.html" with for="ingreso-coacreditado-independiente" texto="Independiente"%}
{%include "./includes/opcion.html" with for="ingreso-coacreditado-empresario" texto="Empresario"%}
{%include "./includes/opcion.html" with for="ingreso-coacreditado-accionista" texto="Socio Accionista"%}
{%include "./includes/opcion.html" with for="giro-coacreditado-usa" texto="Trabajo en USA"%}
{%include "./includes/opcion-input.html" with form="form-db" name="actividad_co_acreditado"%}
{%include "./includes/panel-botones.html"%}

<!-- 12. ¿El Co-Acreditado cotiza para alguna de estas instituciones? -->
{%include "./includes/panel.html" with id="cotiza-coacreditado" per=68.75 desc="Cuando cotizas para alguna institución gubernamental hay posibilidades de ampliar las opciones que te brindan los bancos." pregunta="¿El Co-Acreditado cotiza para alguna de estas instituciones?" %}
{%include "./includes/opcion.html" with texto="Infonavit" for="infonavit-coacreditado"%}
{%include "./includes/opcion.html" with texto="Fovissste" for="infonavit-coacreditado"%}
{%include "./includes/opcion.html" with texto="Otro" for="ingreso-coacreditado"%}
{%include "./includes/opcion.html" with texto="Ninguno" for="ingreso-coacreditado"%}
{%include "./includes/opcion-input.html" with form="form-db" name="instituciones_co_acreditado"%}
{%include "./includes/panel-botones.html"%}

<!-- 12e. ¿Cuál es el giro de la actividad? Giro USA -->
{%include "./includes/panel.html" with id="giro-coacreditado-usa" per=68.75 desc="Es importante seleccionar correctamente el giro de tu actividad, ya que dependiendo de esto la Banca determina el porcentaje de ingreso a considerar." pregunta="¿Cuál es el giro de la actividad?" %}
{%include "./includes/opcion.html" with for="ingreso-coacreditado-usa-e" texto="Empleado"%}
{%include "./includes/opcion.html" with for="ingreso-coacreditado-usa-i" texto="Independiente"%}
{%include "./includes/opcion-input.html" with form="form-db" name="giro_actividad_co_acreditado"%}
{%include "./includes/panel-botones.html" %}

<!-- 12i. ¿Cuál es el ingreso mensual promedio? -->
{%include "./includes/panel.html" with id="ingreso-coacreditado-independiente" per=68.75 desc="A los Co-Acreditados Independientes, el banco les promedia los ingresos de los últimos 6 meses." pregunta="¿Cuál es el ingreso mensual promedio?" %}
{%include "./includes/dinero.html" with name="ingreso_mensual_co_acreditado" form="form-db"%}
{%include "./includes/panel-botones-siguiente.html" with next="giro-coacreditado" emsg="El campo valor debe ser mayor a 0"%}

<!-- 12e. ¿Cuál es el ingreso mensual promedio? -->
{%include "./includes/panel.html" with id="ingreso-coacreditado-empresario" per=68.75 desc="A los Co-Acreditados Empresarios, el banco les promedia los ingresos de los últimos 6 meses." pregunta="¿Cuál es el ingreso mensual promedio?" %}
{%include "./includes/dinero.html" with name="ingreso_mensual_co_acreditado" form="form-db"%}
{%include "./includes/panel-botones-siguiente.html" with next="giro-coacreditado" emsg="El campo valor debe ser mayor a 0"%}

<!-- 12s. ¿Cuál es el ingreso mensual promedio? -->
{%include "./includes/panel.html" with id="ingreso-coacreditado-accionista" per=68.75 desc="A los Co-Acreditados Socio Accionista, el banco les promedia los ingresos de los últimos 6 meses." pregunta="¿Cuál es el ingreso mensual promedio?" %}
{%include "./includes/dinero.html" with name="ingreso_mensual_co_acreditado" form="form-db"%}
{%include "./includes/panel-botones-siguiente.html" with next="giro-coacreditado" emsg="El campo valor debe ser mayor a 0"%}

<!-- 13u. ¿Cuál es el ingreso mensual promedio? Ingreso USA empleado -->
{%include "./includes/panel.html" with id="ingreso-coacreditado-usa-e" per=75 desc="¿Cual sería el Ingreso mensual del Co-Acreditado?" pregunta="¿Cuál es el ingreso mensual? (en pesos mexicanos)" %}
{%include "./includes/dinero.html" with name="ingreso_mensual_co_acreditado" form="form-db"%}
{%include "./includes/panel-botones-siguiente.html" with next="creditos" emsg="El campo valor debe ser mayor a 0"%}

<!-- 13u. ¿Cuál es el ingreso mensual promedio? Ingreso USA independiente -->
{%include "./includes/panel.html" with id="ingreso-coacreditado-usa-i" per=75 desc="¿Cual sería el Ingreso mensual promedio de los últimos 6 meses del Co-Acreditado?" pregunta="¿Cuál es el ingreso mensual promedio? (en pesos mexicanos)" %}
{%include "./includes/dinero.html" with name="ingreso_mensual_co_acreditado" form="form-db"%}
{%include "./includes/panel-botones-siguiente.html" with next="creditos" emsg="El campo valor debe ser mayor a 0"%}

<!-- 13. ¿El Co-Acreditado ya ejerció o esta pagando su Crédito Infonavit o Fovisste? -->
{%include "./includes/panel.html" with id="infonavit-coacreditado" per=75 desc="Vamos ampliando posibilidades..." pregunta="¿El Co-Acreditado ya ejerció o esta pagando su Crédito Infonavit o Fovisste?"%}
{%include "./includes/opcion.html" with for="ingreso-coacreditado" texto="Sí"%}
{%include "./includes/opcion.html" with for="ingreso-coacreditado" texto="No"%}
{%include "./includes/opcion-input.html" with form="form-db" name="pagando_credito_inmb_co_acreditado"%}
{%include "./includes/panel-botones.html" %}

<!-- 13e. ¿Cuál es el giro de la actividad? -->
{%include "./includes/panel.html" with id="giro-coacreditado" per=75 desc="Es importante seleccionar correctamente el giro de tu actividad, ya que dependiendo de esto la Banca determina el porcentaje de ingreso a considerar." pregunta="¿Cuál es el giro de la actividad?" %}
{%include "./includes/opcion.html" with for="creditos" texto="Servicios"%}
{%include "./includes/opcion.html" with for="creditos" texto="Comerciante"%}
{%include "./includes/opcion.html" with for="creditos" texto="Otros"%}
{%include "./includes/opcion-input.html" with form="form-db" name="giro_actividad_co_acreditado"%}
{%include "./includes/panel-botones.html" %}

<!-- 14. ¿Cuál es el ingreso mensual del Co-Acreditado? -->
{%include "./includes/panel.html" with id="ingreso-coacreditado" per=81.25 desc="Ok, unamos los ingresos tuyos con tu Co-Acreditado, de igual forma puede demostrar ingresos con varios empleos." pregunta="¿Cuál es el ingreso mensual del Co-Acreditado?"%}
{%include "./includes/dinero.html" with name="ingreso_mensual_co_acreditado" form="form-db" titulo="Salario Neto"%}
{%include "./includes/panel-botones-siguiente.html" with next="creditos" emsg="El campo valor debe ser mayor a 0"%}

<!-- 15. Captura lo que pagas de los siguientes tipos de créditos: -->
{%include "./includes/panel.html" with id="creditos" per=87.5 desc="El banco revisa el endeudamiento actual de los créditos a tu nombre y del Co-Acreditado (si es el caso) para conocer tu capacidad de crédito. Captura tus gastos acutales (crédito automotriz, tarjetas de crédito, departamentales, hipotecario o préstamo personal)" pregunta="Captura lo que pagas de créditos:"%}
<p>Suma los gastos del Co-Acreditado si es el caso</p>
{%include "./includes/dinero.html" with name="pago_credito" form="form-db" titulo="Créditos"%}
{%include "./includes/panel-botones-siguiente.html" with next="correo" emsg="El campo valor debe ser mayor a 0"%}

<!-- 16. correo: -->
{%include "./includes/final.html" with id="correo" per=97 form="form-db"%}