<!-- Pregunta cuatro -->
<div class="panel" id="empleado">
    <div class="presentacion row">
        {% include 'home/formularios/shared/img-asesor.html' %}
        <div class="col-lg-10 d-flex justify-content-center">
            <p>Cuando cotizas para alguna institución gubernamental hay posibilidades de ampliar las opciones que te
                brindan los bancos.</p>
        </div>

    </div><!-- End presentacion -->

    <div class="preguntas">
        <div class="row">
            <div class="col-lg-4 d-flex justify-content-center">

            </div>
            <div class="col-lg-8 d-flex justify-content-center">

                <div class="opciones">
                    <h4><strong>¿Cotizas para alguna de estas instituciones?</strong></h4>
                    <div class="opcion">
                        <p>Infonavit</p>
                    </div>
                    <div class="opcion">
                        <p>Fovisste</p>
                    </div>
                    <div class="opcion">
                        <p>Otro</p>
                    </div>
                    <div class="opcion">
                        <p>Ninguno</p>
                    </div>
                    <small class="emsg form-text text-muted hidden">Por favor, elija una opción</small>

                    <div class="d-flex justify-content-center">
                        <div class="btnAnt" for="actividad-principal">
                            <p>Anterior</p>
                        </div>
                        <div class="btnNext" for="p05">
                            <p>Siguiente</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End preguntas -->
</div><!-- End panel -->

<!-- Pregunta cinco -->
<div class="panel" id="p05">
    <div class="presentacion row">
        {% include 'home/formularios/shared/img-asesor.html' %}

        <div class="col-lg-10 d-flex justify-content-center">
            <p>Cuando cotizas para alguna institución gubernamental hay posibilidades de ampliar las opciones que te
                brindan los bancos.</p>
        </div>

    </div><!-- End presentacion -->

    <div class="preguntas">
        <div class="row">
            <div class="col-lg-4 d-flex justify-content-center">

            </div>
            <div class="col-lg-8 d-flex justify-content-center">

                <div class="opciones">
                    <h4><strong>¿Ya ejerciste o estas pagando tu Crédito Infonavit o Fovissste?</strong></h4>
                    <div class="opcion">
                        <p>Sí</p>
                    </div>
                    <div class="opcion">
                        <p>No</p>
                    </div>
                    <small class="emsg form-text text-muted hidden">Por favor, elija una opción</small>

                    <div class="d-flex justify-content-center">
                        <div class="btnAnt" for="empleado">
                            <p>Anterior</p>
                        </div>
                        <div class="btnNext" for="p06">
                            <p>Siguiente</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End preguntas -->
</div><!-- End panel -->

<!-- Pregunta seis -->
<div class="panel" id="p06">
    <div class="presentacion row">
        {% include 'home/formularios/shared/img-asesor.html' %}

        <div class="col-lg-10 d-flex justify-content-center">
            <p>¿Sabías que hay bancos que calculan tu capacidad de crédito basados en tu ingreso neto y hay otros
                que lo calculan en base a tu ingreso bruto?</p>
        </div>

    </div><!-- End presentacion -->

    <div class="preguntas">
        <div class="row">
            <div class="col-lg-4 d-flex justify-content-center">

            </div>
            <div class="col-lg-8 d-flex justify-content-center">

                <div class="opciones">
                    <h4><strong>¿Cuál es tu ingreso mensual?</strong></h4>
                    <h5>Salario Neto</h5>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input name="valor" type="text" class="form-control money" required />
                        <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                        </div>
                    </div>
                    <h5>Salario Bruto</h5>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input name="valor" type="text" class="form-control money" required />
                        <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                        </div>
                    </div>
                    <p><strong>Salario Neto:</strong> Es el pago que recibes menos los descuentos, lo que te
                        depositan o pagan finalmente.</p>
                    <p><strong>Salario Bruto:</strong> Es lo que te pagan sin descuentos, es el total de todas las
                        percepciones.</p>

                    <div class="d-flex justify-content-center">
                        <div class="btnAnt" for="p05">
                            <p>Anterior</p>
                        </div>
                        <div class="btnNext" for="nombre">
                            <p>Siguiente</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End preguntas -->
</div><!-- End panel -->

<!-- Pregunta siete -->
<div class="panel" id="nombre">
    <div class="presentacion row">
        {% include 'home/formularios/shared/img-asesor.html' %}

        <div class="col-lg-10 d-flex justify-content-left">
            <p>Por cierto, ¿Cuál es tu nombre? <br> Me gustaría personalizarte la información que te voy a entregar.
            </p>
        </div>

    </div><!-- End presentacion -->

    <div class="preguntas">
        <div class="row">
            <div class="col-lg-4 d-flex justify-content-center">

            </div>
            <div class="col-lg-8 d-flex justify-content-center">

                <div class="opciones">
                    <h4><strong>¿Cuál es tu nombre y apellido?</strong></h4>
                    <input name="nombre" type="text" class="form-control" id="nombreInput" maxlength="50" required />
                    <small class="emsg form-text text-muted hidden">El nombre solo debe contener letras</small>

                    <div class="d-flex justify-content-center">
                        <div class="btnAnt" for="p06">
                            <p>Anterior</p>
                        </div>
                        <div class="btnNext" for="estado-civil">
                            <p>Siguiente</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End preguntas -->
</div><!-- End panel -->

<!-- Pregunta ocho -->
<div class="panel" id="estado-civil">
    <div class="presentacion row">
        {% include 'home/formularios/shared/img-asesor.html' %}

        <div class="col-lg-10 d-flex justify-content-center">
            <p>Puede haber variación en la oferta dependiendo de tu estado civil actual, ¿cuál es tu caso?</p>
        </div>

    </div><!-- End presentacion -->

    <div class="preguntas">
        <div class="row">
            <div class="col-lg-4 d-flex justify-content-center">

            </div>
            <div class="col-lg-8 d-flex justify-content-center">

                <div class="opciones">
                    <h4><strong>¿Cuál es tu estado civil?</strong></h4>
                    <div class="opcion">
                        <p>Soltero</p>
                    </div>
                    <div class="opcion">
                        <p>Casado</p>
                    </div>
                    <div class="opcion">
                        <p>Unión Libre</p>
                    </div>
                    <small class="emsg form-text text-muted hidden">Por favor, elija una opción</small>

                    <div class="d-flex justify-content-center">
                        <div class="btnAnt" for="nombre">
                            <p>Anterior</p>
                        </div>
                        <div class="btnNext" for="co-acreditado">
                            <p>Siguiente</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End preguntas -->
</div><!-- End panel -->
{% include 'home/formularios/shared/co-acreditado.html' %}

<!-- Pregunta seis -->
<div class="panel" id="creditos">
    <div class="presentacion row">
        {% include 'home/formularios/shared/img-asesor.html' %}

        <div class="col-lg-10 d-flex justify-content-center">
            <p>El banco revisa el endeudamiento actual de los créditos a tu nombre y del Co-Acreditado (si es el caso),
                esto para hacer un cálculo de Ingresos/Egresos y conocer tu capacidad de endeudamiento. Para un mejor
                análisis, captura tus gastos actuales:</p>
        </div>

    </div><!-- End presentacion -->

    <div class="preguntas">
        <div class="row">
            <div class="col-lg-4 d-flex justify-content-center">

            </div>
            <div class="col-lg-8 d-flex justify-content-center">

                <div class="opciones">
                    <h4><strong>Captura lo que pagas de los siguientes tipos de créditos:</strong></h4>
                    <p>Suma los gastos del Co-Acreditado si es el caso</p>
                    <h5>Crédito Automotriz</h5>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input name="credito" type="text" class="form-control money" required />
                        <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                        </div>
                    </div>
                    <h5>Tarjetas de Crédito (Pago Mínimo)</h5>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input name="credito" type="text" class="form-control money" required />
                        <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                        </div>
                    </div>
                    <h5>Tiendas Departamentales (Pago Mínimo)</h5>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input name="credito" type="text" class="form-control money" required />
                        <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                        </div>
                    </div>
                    <h5>Prestamos de Nómina Bancario</h5>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input name="credito" type="text" class="form-control money" required />
                        <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                        </div>
                    </div>
                    <h5>Prestamos Personales</h5>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input name="credito" type="text" class="form-control money" required />
                        <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                        </div>
                    </div>
                    <label class="result">$0.00</label>

                    <div class="d-flex justify-content-center">
                        <div class="btnAnt" for="co-acreditado">
                            <p>Anterior</p>
                        </div>
                        <div class="btnNext" for="creditos">
                            <p>Siguiente</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End preguntas -->
</div><!-- End panel -->