{% load static %}

<!-- 2. ¿Cómo calificarías la puntualidad de tus pagos en tu hipoteca actual? -->
{%include "./includes/panel.html" with id="m2" per=9 desc="¡Perfecto! ¿Sabías que para mejorar tu hipoteca, basta con haberte mantenido puntual en los pagos de la misma?, hay bancos en los que ni necesitas comprar ingresos." pregunta="¿Cómo calificarías la puntualidad de tus pagos en tu hipoteca actual?"%}
{%include "./includes/opcion.html" with for="m3" texto="Excelente, sin atrasos"%}
{%include "./includes/opcion.html" with for="m3a" class="opcion not" texto="Me he atrasado 1 o 2 veces en el año pero estoy al día"%}
{%include "./includes/opcion.html" with for="m3a" class="opcion not" texto="Me atrasé 3 o más meses pero ya estoy al día"%}
{%include "./includes/opcion.html" with for="m3x" class="opcion not" texto="Actualmente voy atrasado en el pago de mi hipoteca"%}
{%include "./includes/panel-botones.html"%}

<!-- 3. ¿Cuál es el monto aproximado del saldo actual? -->
{%include "./includes/panel.html" with id="m3" per=18 desc="¡Perfecto! ¡Eres muy buen candidato para mejorar las condiciones de tu hipoteca!" pregunta="¿Cuál es el monto aproximado del saldo actual?"%}
{%include "./includes/dinero.html" with name="valor" titulo="Saldo de tu hipoteca"%}
{%include "./includes/panel-botones.html" with next="m4" emsg="El campo valor debe ser mayor a 0"%}

<!-- 3a. ¿Cuál es el monto aproximado del saldo actual? -->
{%include "./includes/panel.html" with id="m3a" per=18 desc="Ok, veamos las condiciones de tu crédito actual." pregunta="¿Cuál es el monto aproximado del saldo actual?"%}
{%include "./includes/dinero.html" with name="valor" titulo="Saldo de tu hipoteca"%}
{%include "./includes/panel-botones.html" with next="m4" emsg="El campo valor debe ser mayor a 0"%}

<!-- 3x. Lo sentimos -->
{%include "./includes/panel.html" with id="m3x" per=100 desc="Lo sentimos, si actualmente tu hipoteca trae atraso ningún banco nos mejorará las condiciones. <br> <br>Te recomiendo ponerte al día, esperar un año y lo intentamos en su momento. <br> <br> ¡Quedo a la orden!"%}
<div class="opcion goToMenu" for="inicio">
    <p>Menú Principal</p>
</div>

<div class="d-flex justify-content-center">
    <button class="btnAnt">
        Anterior
    </button>
</div>
</div>
</div>
</div>
</div><!-- End preguntas -->
</div><!-- End panel -->


<!-- 4. ¿Cuánto pagas de mensualidad? -->
{%include "./includes/panel.html" with id="m4" per=27 desc="Favor de responder la siguiente pregunta:" pregunta="¿Cuánto pagas de mensualidad?"%}
{%include "./includes/dinero.html" with name="valor"%}
{%include "./includes/panel-botones.html" with next="m5" emsg="El campo valor debe ser mayor a 0"%}

<!-- 5. ¿A cuántos años fue tu crédito? -->
{%include "./includes/panel.html" with id="m5" per=36 desc="Favor de responder la siguiente pregunta:" pregunta="¿A cuántos años fue tu crédito?"%}
<div class="form-group">
    <select class="form-control">
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
        <option>13</option>
        <option>14</option>
        <option>15</option>
        <option>16</option>
        <option>17</option>
        <option>18</option>
        <option>19</option>
        <option>20</option>
        <option>21</option>
        <option>22</option>
        <option>23</option>
        <option>24</option>
        <option>25</option>
        <option>26</option>
        <option>27</option>
        <option>28</option>
        <option>29</option>
        <option>30</option>
    </select>
</div>
{%include "./includes/panel-botones.html" with next="m6"%}

<!-- 6. ¿Cuánto tiempo llevas pagando tu crédito? -->
{%include "./includes/panel.html" with id="m6" per=45 desc="Favor de responder la siguiente pregunta:" pregunta="¿Cuánto tiempo llevas pagando tu crédito?"%}
<div class="form-group">
    <label for="exampleFormControlSelect1">Años</label>
    <select class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
        <option>13</option>
        <option>14</option>
        <option>15</option>
        <option>16</option>
        <option>17</option>
        <option>18</option>
        <option>19</option>
        <option>20</option>
    </select>
</div>
<div class="form-group">
    <label for="exampleFormControlSelect1">Meses</label>
    <select class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
    </select>
</div>
{%include "./includes/panel-botones.html" with next="m7"%}

<!-- 7. ¿Tu crédito fue un crédito cofinanciado? -->
{%include "./includes/panel.html" with id="m7" per=54 desc="Favor de responder la siguiente pregunta:" pregunta="¿Tu crédito fue un crédito cofinanciado?"%}
<div class="form-group">
    <select class="form-control">
        <option>No</option>
        <option>Sí, con Infovavit</option>
        <option>Sí, con Fovissste</option>
        <option>Otro</option>
    </select>
</div>
{%include "./includes/panel-botones.html" with next="m8"%}

<!-- 8. ¿A cuántos años fue tu crédito? -->
{%include "./includes/panel.html" with id="m8" per=63 desc="Favor de responder la siguiente pregunta:" pregunta="¿Cuál es la institución actual con la que tienes tu hipoteca?"%}
<div class="form-group">
    <select class="form-control">
        <option>Afirme</option>
        <option>B x Más</option>
        <option>Banbajío</option>
        <option>Bancomer</option>
        <option>Banorte</option>
        <option>Banregio</option>
        <option>Citi Banamex</option>
        <option>Fovissste Tradicional</option>
        <option>HSBC</option>
        <option>Infonavit Tradicional</option>
        <option>Santander</option>
        <option>Scotiabank</option>
        <option>Otro</option>
    </select>
</div>
{%include "./includes/panel-botones.html" with next="m9"%}

<!-- 9. Tu crédito está en: -->
{%include "./includes/panel.html" with id="m9" per=72 desc="Favor de responder la siguiente pregunta:" pregunta="Tu crédito está en:"%}
<div class="form-group">
    <select class="form-control">
        <option>Pesos</option>
        <option>UDIS</option>
        <option>VSM (Veces Salario Mínimo)</option>
    </select>
</div>
{%include "./includes/panel-botones.html" with next="m10"%}

<!-- 10. Los pagos pactados de tu crédito son: -->
{%include "./includes/panel.html" with id="m10" per=81 desc="Favor de responder la siguiente pregunta:" pregunta="Los pagos pactados de tu crédito son:"%}
<div class="form-group">
    <select class="form-control">
        <option>Fijos</option>
        <option>Crecientes</option>
    </select>
</div>
{%include "./includes/panel-botones.html" with next="m11"%}

<!-- 11. ¿Cuál es tu nombre y apellido? -->
{%include "./includes/panel.html" with id="m11" per=90 desc="Por cierto, ¿Cuál es tu nombre? <br> Me gustaría personalizarte la información que te voy a entregar." pregunta="¿Cuál es tu nombre y apellido?"%}
<input name="nombre" type="text" class="form-control" form="form-db" maxlength="50" disabled />
{%include "./includes/panel-botones.html" with next="telefono" emsg="Ingrese un nombre válido"%}