<!-- 2. ¿Ya tienes el inmueble identificado? -->
{%include "./includes/panel.html" with id="t2" per=6.25 desc="¡Excelente idea! Comprar un terreno es una de las mejores inversiones y tenemos varías opciones de financiamento. !Precalifica tu alcance de crédito!" pregunta="¿Ya tienes el terreno identificado?" %}
{%include "./includes/opcion.html" with for="t3" texto="Ya lo tengo visto"%}
{%include "./includes/opcion.html" with for="actividad" texto="Lo estoy buscando"%}
{%include "./includes/opcion.html" with class="opcion not" for="actividad" texto="Solo quiero conocer mi capacidad de crédito"%}
{%include "./includes/panel-botones.html"%}

<!-- 3. ¿Cuál es el valor aproximado del inmueble? -->
{%include "./includes/panel.html" with id="t3" per=12.5 desc="El importe de un valor del terreno nos servirá para poder darte opciones según tu capacidad de crédito." pregunta="¿Cuál es el valor aproximado del terreno?" %}
{%include "./includes/dinero.html" with name="valor" form="from" only%}
{%include "./includes/panel-botones-siguiente.html" with next="actividad" emsg="El campo valor debe ser mayor a 0"%}