<!-- Pregunta nueve -->
<div class="panel" id="co-acreditado">
    <div class="presentacion row">
        {% include 'home/formularios/shared/img-asesor.html' %}

        <div class="col-lg-10 d-flex justify-content-center">
            <p>¿Sabías que puedes incrementar tu capacidad de crédito al unir ingresos con otra persona? (pareja,
                familiar, amigo) a la que se le denomina Co-Acreditado.</p>
        </div>

    </div><!-- End presentacion -->

    <div class="preguntas">
        <div class="row">
            <div class="col-lg-4 d-flex justify-content-center">

            </div>
            <div class="col-lg-8 d-flex justify-content-center">

                <div class="opciones">
                    <h4><strong>¿Te gustaría presentar un ingreso mayor para aumentar tu capacidad de
                            crédito?</strong></h4>
                    <div class="opcion" for="actividad-coacreditado">
                        <p>Sí, quiero agregar un co-acreditado</p>
                    </div>
                    <div class="opcion" for="creditos">
                        <p>No, solo yo comprobare ingresos</p>
                    </div>
                    <small class="emsg form-text text-muted hidden">Por favor, elija una opción</small>

                    <div class="d-flex justify-content-center">
                        <div class="btnAnt" for="estado-civil">
                            <p>Anterior</p>
                        </div>
                        <div class="btnNext">
                            <p>Siguiente</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End preguntas -->
</div><!-- End panel -->

<!-- Pregunta diez -->
<div class="panel" id="actividad-coacreditado">
    <div class="presentacion row">
        {% include 'home/formularios/shared/img-asesor.html' %}
        <div class="col-lg-10 d-flex justify-content-center">
            <p>Perfecto, el unir ingresos con un Co-Acreditado incrementará tu capacidad de crédito.</p>
        </div>

    </div><!-- End presentacion -->

    <div class="preguntas">
        <div class="row">
            <div class="col-lg-4 d-flex justify-content-center">

            </div>
            <div class="col-lg-8 d-flex justify-content-center">

                <div class="opciones">
                    <h4><strong>¿Cuál es la actividad principal del Co-Acreditado?</strong></h4>
                    <div class="opcion">
                        <p>Empleado</p>
                    </div>
                    <div class="opcion">
                        <p>Independiente</p>
                    </div>
                    <div class="opcion">
                        <p>Empresario</p>
                    </div>
                    <div class="opcion">
                        <p>Socio Accionista</p>
                    </div>
                    <div class="opcion">
                        <p>Trabaja en USA</p>
                    </div>
                    <small class="emsg form-text text-muted hidden">Por favor, elija una opción</small>

                    <div class="d-flex justify-content-center">
                        <div class="btnAnt" for="co-acreditado">
                            <p>Anterior</p>
                        </div>
                        <div class="btnNext" for="cotiza-coacreditado">
                            <p>Siguiente</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End preguntas -->
</div><!-- End panel -->

<!-- Pregunta diez -->
<div class="panel" id="cotiza-coacreditado">
    <div class="presentacion row">
        {% include 'home/formularios/shared/img-asesor.html' %}

        <div class="col-lg-10 d-flex justify-content-center">
            <p>Cuando cotizas para alguna institución gubernamental hay posibilidades de ampliar las opciones que te
                brindan los bancos.</p>
        </div>

    </div><!-- End presentacion -->

    <div class="preguntas">
        <div class="row">
            <div class="col-lg-4 d-flex justify-content-center">

            </div>
            <div class="col-lg-8 d-flex justify-content-center">

                <div class="opciones">
                    <h4><strong>¿El Co-Acreditado cotiza para alguna de estas instituciones?</strong></h4>
                    <div class="opcion">
                        <p>Infonavit</p>
                    </div>
                    <div class="opcion">
                        <p>Fovissste</p>
                    </div>
                    <div class="opcion">
                        <p>Otro</p>
                    </div>
                    <div class="opcion">
                        <p>Ninguno</p>
                    </div>
                    <small class="emsg form-text text-muted hidden">Por favor, elija una opción</small>

                    <div class="d-flex justify-content-center">
                        <div class="btnAnt" for="actividad-coacreditado">
                            <p>Anterior</p>
                        </div>
                        <div class="btnNext" for="ejercio-coacreditado">
                            <p>Siguiente</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End preguntas -->
</div><!-- End panel -->

<!-- Pregunta diez -->
<div class="panel" id="ejercio-coacreditado">
    <div class="presentacion row">
        {% include 'home/formularios/shared/img-asesor.html' %}

        <div class="col-lg-10 d-flex justify-content-left">
            <p>Vamos ampliando posibilidades...</p>
        </div>

    </div><!-- End presentacion -->

    <div class="preguntas">
        <div class="row">
            <div class="col-lg-4 d-flex justify-content-center">

            </div>
            <div class="col-lg-8 d-flex justify-content-center">

                <div class="opciones">
                    <h4><strong>¿El Co-Acreditado ya ejerció o esta pagando su Crédito Infonavit o
                            Fovisste?</strong></h4>
                    <div class="opcion">
                        <p>Sí</p>
                    </div>
                    <div class="opcion">
                        <p>No</p>
                    </div>
                    <small class="emsg form-text text-muted hidden">Por favor, elija una opción</small>

                    <div class="d-flex justify-content-center">
                        <div class="btnAnt" for="cotiza-coacreditado">
                            <p>Anterior</p>
                        </div>
                        <div class="btnNext" for="ingreso-coacreditado">
                            <p>Siguiente</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End preguntas -->
</div><!-- End panel -->

<!-- Pregunta seis -->
<div class="panel" id="ingreso-coacreditado">
    <div class="presentacion row">
        {% include 'home/formularios/shared/img-asesor.html' %}

        <div class="col-lg-10 d-flex justify-content-left">
            <p>Ok, unamos los ingresos tuyos con tu Co-Acreditado</p>
        </div>

    </div><!-- End presentacion -->

    <div class="preguntas">
        <div class="row">
            <div class="col-lg-4 d-flex justify-content-center">

            </div>
            <div class="col-lg-8 d-flex justify-content-left">

                <div class="opciones">
                    <h4><strong>¿Cuál es el ingreso mensual del Co-Acreditado?</strong></h4>
                    <h5>Salario Neto</h5>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input name="valor" type="text" class="form-control money" required />
                        <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                        </div>
                    </div>
                    <h5>Salario Bruto</h5>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input name="valor" type="text" class="form-control money" required />
                        <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                        </div>
                    </div>
                    <p><strong>Salario Neto:</strong> Es el pago que recibes menos los descuentos, lo que te
                        depositan o pagan finalmente.</p>
                    <p><strong>Salario Bruto:</strong> Es lo que te pagan sin descuentos, es el total de todas las
                        percepciones.</p>

                    <div class="d-flex justify-content-center">
                        <div class="btnAnt" for="ejercio-coacreditado">
                            <p>Anterior</p>
                        </div>
                        <div class="btnNext" for="creditos">
                            <p>Siguiente</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End preguntas -->
</div><!-- End panel -->