.navbar-brand img {
    width: 200px;
    padding-left: 50px;
}

.nav-link img {
    width: 40px;
    padding-right: 10px;
}

.sidebar-dark {
    padding-top: 50px;
    background-color: #1b2c54;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link:focus,
.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link:hover,
.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link.active {
    background-color: #224793;
}

.administrador {
    width: 100px;
    display: grid;
    place-items: center;
    text-align: left;
    color: white !important;
}

.administrador img {
    width: 100%;
}

.administrador p:first-child {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bolder;
}