.navbar-brand img {
    width: 200px;
    padding-left: 50px;
}

.nav-link img {
    width: 40px;
    padding-right: 10px;
}

.sidebar-dark {
    padding-top: 50px;
    background-color: #1b2c54;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link:focus,
.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link:hover,
.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link.active {
    background-color: #224793;
}

.administrador {
    width: 100px;
    display: grid;
    place-items: center;
    text-align: left;
    color: white !important;
}

.administrador img {
    width: 100%;
}

.administrador p:first-child {
    margin: 0;
    width: 200px;
    font-size: 1.2rem;
    font-weight: bolder;
}

/*Login*/
.login{
    padding: 50px;    
    width: 500px;
    text-align: center !important;
}

.logo-login{
    display: block;
    margin: 0 auto 30px auto;
    width: 85%;
}

.btn-iniciar-sesion{
    background-color: #1b2c54;
    color: white;
    font-weight: bolder;
    margin-top: 20px;
    width: 100%;
}

.recuperar{
    color: gray;
    font-style: italic;
}

#success-alert {
    display: none;
}
