@font-face {
    font-family: Gotham;
    src: url('/static/fonts/GothamBook.ttf');
}

@font-face {
    font-family: Gotham-bold;
    src: url('/static/fonts/GothamMedium.ttf');
}

@font-face {
    font-family: Gotham-light;
    src: url('/static/fonts/Gotham-Thin.otf');
}

body {
    font-family: Gotham;
    padding: 0;
    margin: 0;
    border: 0;
    text-align: justify;
    color: #1b2c54;
}

a,
a:hover {
    color: inherit;
    text-decoration: inherit;
}

button:focus {
    outline: none;
}

/*------- Header -------*/

.header {
    position: relative;
}

.img-header-container {
    margin: 25px 0 25px 0;
    position: relative;
    width: 100%;
}

.img-header-container img {
    width: 100%;
    min-height: 100px;

}

.logo-container {
    background-color: #1b2c54;

    width: 22%;
    min-width: 250px;
    height: 133%;
    min-height: 150px;
    position: absolute;
    top: -25px;
    left: 13%;
}

.logo-container img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


/*------- Body -------*/

.container-fluid {
    padding: 5% 13%;
}

.hombre {
    width: 95%;
    min-width: 250px;
    height: auto;
}

h2,
h4 {
    font-family: Gotham-Light;
    letter-spacing: 2px;
}

h3 {
    font-family: Gotham;
}

strong {
    font-family: Gotham-bold;
}

.contacto {
    margin: 40px 0 50px;
}

.contacto h4 {
    margin: 0px;
}

.icono {
    width: 15%;
}


/* options*/

.asesoria {
    text-align: center;
    margin-top: 50px;
}

.asesoria h2 {
    margin-bottom: 40px;
}

h5 {
    color: #9b723c;
    font-family: Gotham-bold;

}

.asesoria-circulo {
    width: 160px;
    height: 160px;
    border-radius: 100%;
    background-color: transparent;
    margin: auto;
    margin-bottom: 30px;
    background-color: #1b2c54;
}

.asesoria-circulo:hover,
.active {
    background-color: #9b723c;
}

.opciones-img {
    width: 100%;
}

.currenth5 {
    color: #1b2c54;
}

.arrow {
    font-size: 5rem;
}


/* formulario */
.preguntas label {
    margin-top: 50px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #9b723c;
}

.preguntas button {
    border: none;
    border-radius: 20px;
    background-color: #9b723c;
    color: white;
    font-size: 1rem;
    padding: 5px 20px;
    position: absolute;
    right: 250px;


}

.preguntas .btn:hover,
.preguntas .btn:focus {
    background-color: #1b2c54;
}

.btn:focus {
    background-color: #1b2c54;
}


.btnNext {
    border: none;
    border-radius: 20px;
    background-color: #9b723c;
    color: white;
    font-size: 1rem;
    padding: 5px 20px;

}

.preguntas input,
.preguntas select {
    max-width: 350px;
}

.btnEs {
    position: relative;
    margin: 20px 10px;
    text-align: left;
    width: 50%;
    padding: 14px 22px;
    border: black 5px;
    border-radius: 2px;
}

.btnEs p {
    margin: 0;
}

.btnEs .titulo {
    font-family: Gotham-bold;
    font-size: 1.2rem;
}

.btnEs:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.panel,
.panelEs {
    display: none;
}

.ingreso-active {
    border: solid 1px #008A94;
    background-color: #EBF6F7;
}

.form-text {
    text-align: left;
}

.emsg {
    color: red !important;
}

.hidden {
    display: none;
}