{% extends 'dashboard/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css'%}">

    <!-- CSS stylesheet -->
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">

    

    <title>Document</title>

</head>

<body>
{% block content-dashboard %}
<div class="dashboard-wrapper">
    <div class="container-fluid  dashboard-content">
            <div class="row">
                        <!-- ============================================================== -->
                        <!-- basic table -->
                        <!-- ============================================================== -->
                 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <h5 class="card-header">Asesores</h5>
                             <div class="card-body">
                                 <table class="table">
                                     <thead>
                                        <p>Lorem ipsum dolor sit amet consectetur
                                          adipisicing elit. Eius itaqueluptatibus iure esse eum!</p>
                                         <tr>
                                         <th scope="col">Nombre</th>
                                         <th scope="col">Usuario</th>
                                         <th scope="col">Telefono</th>
                                         <th scope="col">E-mail</th>
                                         <th scope="col"># Clientes</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for forms in object_list %}
                                            <tr>
                                                <th scope="row">{{ forms.nombres }}</th>
                                                <td>{{ forms.usuario }}</td>
                                                <td>{{ forms.telefono }}</td>
                                                <td>{{ forms.email }}</td>
                                                <td>{{ forms.nclientes }}</td>
                                            </tr>
                                            
                                             {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                                            
                    <form method="post">
                    {% csrf_token %}
                        <div class="row justify-content-md-center">
                            <a href='{% url "a-nuevoasesor" %}'>
                                <div class="d-flex">

                                    <input type="button" class="btn btn-teal btn-primary btn-lg rounded-pill lift lift-sm"
                                   value=" agregar nueo">
                                    
                                </div>
                            </a>
                        </div>
                    </form>
                 </div>
            </div>
                
     {% endblock %}
</body>

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
 

</html>