<p>Asesor: {{ asesor }}</p>
<p>Promotor: {{ promotor }}</p>
<br />

<p>Nombre Cliente: {{ nombre_cliente }}</p>
<p>Télefono: {{ telefono }}</p>
<p>Correo: {{ correo }}</p>
<br />

<p>Tipo de Crédito: {{ tipo_credito }}</p>
<p>Puntualidad de Pagos: {{ puntualidad_pagos }}</p>
<p>Saldo Actual: {{ saldo_actual }}</p>
<br />

<p>Pago mensual: {{pago_mensual}}</p>
<p>Años de crédito: {{años_credito}}</p>
<p>Tiempo pagado del crédito:</p>
<ul>
    <li>{{tiempo_pagando_años}} Años</li>
    <li>{{tiempo_pagando_meses}} Meses</li>
</ul>
<p>Crédito cofinanciado: {{credito_cofinanciado}}</p>
<p>Institución de la hipoteca: {{institucion_hipotecaria}}</p>
<p>El crédito esta en: {{moneda_credito}}</p>
<p>Pagos pactados: {{pagos_pactados}}</p>
