{% load static %}

<p>
    En CIMMA Bienes Raíces te asesoramos para que compres la casa de tus sueños!!
    Si gustas ver opciones de propiedades puedo enviarte un listado de filtrado con las características 
    que deseas, solo mándame un mándame un WhatsApp al 6622 755 855 Claudia Montaño 
    (Agente Inmobiliario Licencia ####).
<p>
<br />
<p>
    Según los datos proporcionados en tu perfilamiento, te presentamos el alcance de crédito que tienes 
    en cada una de las instituciones bancarias siguientes:
</p>

<div class="row">
    <div class="col-sm-6">
    
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Banco</th>
                    <th scope="col">Alcance de Credito</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="..\static\img\b1.png" width="128"></td>
                    <td>{{ hsbc }}</td>
                </tr>
                <tr>
                    <td><img src="{% static 'img/b1.png' %}" width="128"></td>
                    <td>{{ banorte }}</td>
                </tr>
                <tr>
                    <td><img src="{% static 'img/b4.png' %}" width="128"></td>
                    <td>{{ santander }}</td>
                </tr>
                <tr>
                    <td><img src="{% static 'img/b7.png' %}" width="128"></td>
                    <td>{{ banamex }}</td>
                </tr>
                <tr>
                    <td><img src="{% static 'img/b3.png' %}" width="128"></td>
                    <td>{{ scotiabank }}</td>
                </tr>
                <tr>
                    <td><img src="{% static 'img/b5.png' %}" width="128"></td>
                    <td>{{ afirme }}</td>
                </tr>
                <tr>
                    <td><img src="{% static 'img/b6.png' %}" width="128"></td>
                    <td>{{ banregio }}</td>
                </tr>
                <tr>
                    <td><img src="{% static 'img/b8.png' %}" width="128"></td>
                    <td>{{ bx }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="col-sm-6">
        <div class="d-flex">
            <h3>Ahora estas más cerca decumplir tus sueños!!</h3>
            <img src=""/>
            <h3>Llámanos, lo hacemos fácil y Sin Enredos Conoce los Beneficios</h3>
        </div>
    </div>
<div>

<p>
    Las cantidades aquí presentadas están basadas en parámetros reales que manejan los bancos, y dan una 
    idea muy certera del alcance de crédito, sin embargo el monto definitivo que será autorizado dependerá 
    en gran medida del historial crediticio de cada. Por esto te recomendamos acercarte con nosotros, 
    te asesoraremos y te ayudaremos a presentar tu expediente ante los bancos con el mejor perfil de cliente, 
    juntos elegiremos la mejor opción para tí.
</p>

<div class="row">
    <div class="col-sm-6">
        <h3>También manejamos Créditos Cofinanciados Crece tu crédito para comprar una casa más Grande</h3>
    </div>

    <div class="col-sm-6">
        <img src=""/>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <img src=""/>
    </div>

    <div class="col-sm-6">
        <h3>¿Eres empleado Federal? Aprovecha los grandes beneficios que te ofrece este crédito Hipotecario!!</h3>
    </div>
</div>
