{% extends './base2.html'%}
{% load static %}

<!--  
    hsbc
    https://i.ibb.co/fMxSSTy/logo-hsbc.png

    banorte
    https://i.ibb.co/mNCC6k1/logo-banorte.png
    
    santander
    https://i.ibb.co/8MZy4MQ/logo-santander.png

    banamex
    https://i.ibb.co/B3F7Hss/logo-banamex.png

    scotia
    https://i.ibb.co/z4SyRgc/logo-scotia.png

    afirme
    https://i.ibb.co/0BYctCR/logo-afirme.png

    banregio
    https://i.ibb.co/g3yqCGY/logo-banregio.png

    bx+
    https://i.ibb.co/d73GnZ4/logo-bx.png

    #promotor
    https://i.ibb.co/4NSkLj3/promotor.jpg

    #promotor con texto
    https://i.ibb.co/7NXXgJX/promotor-2.jpg

    #asesor
    https://i.ibb.co/TtCKFJ4/asesor.jpg

    #infonavit
    https://i.ibb.co/jHptQ5T/infonavit.jpg

    #infonavit con texto
    https://i.ibb.co/QXvGS1m/infonavit-2.jpg

    #fovisste
    https://i.ibb.co/njR48WH/fovisste.jpg

    #fovisste con texto
    https://i.ibb.co/gRsGFxY/fovisste-2.jpg

    #firma-correo
    https://i.ibb.co/YWDh8Vz/firma-correo.png
-->

{% block body %}
<p>
   {{ nombre }} ¡¡Gracias por tu confianza!!
    <br>
    <br>
    {{despedida}}
    <br>
    <br>
    <br>
    Según los datos proporcionados en tu perfilamiento, te presentamos el alcance de crédito que tienes en cada una de las instituciones bancarias siguientes. 
    Si el monto presentado no alcanza para la vivienda que ocupas, ponte en contacto con nosotros para asesorarte en las estrategias a seguir para lograr tu meta:
</p>

<br>

<table width="100%">
    <col width="20%">
    <col width="40%">
    <col width="40%">
    <tbody>
        <tr>
            <td scope="col">
                <h2>Banco</h2>
            </td>
            <td scope="col">
                <h2>Alcance de Crédito</h2>
            </td>
            <td rowspan="8">
                <div>
                    <img width="380" src="https://i.ibb.co/TtCKFJ4/asesor.jpg" />
                </div>
            </td>
        </tr>
        <tr>
            <td><img src="https://i.ibb.co/fMxSSTy/logo-hsbc.png" width="128"></td>
            <td>
                <h3>{{ hsbc }}</h3>
            </td>

        </tr>
        <tr>
            <td><img src="https://i.ibb.co/mNCC6k1/logo-banorte.png" width="128"></td>
            <td>
                <h3>{{ banorte }}</h3>
            </td>
        </tr>
        <tr>
            <td><img src="https://i.ibb.co/8MZy4MQ/logo-santander.png" width="128"></td>
            <td>
                <h3>{{ santander }}</h3>
            </td>
        </tr>
        <tr>
            <td><img src="https://i.ibb.co/B3F7Hss/logo-banamex.png" width="128"></td>
            <td>
                <h3>{{ banamex }}</h3>
            </td>
        </tr>
        <tr>
            <td><img src="https://i.ibb.co/z4SyRgc/logo-scotia.png" width="128"></td>
            <td>
                <h3>{{ scotiabank }}</h3>
            </td>
        </tr>
        <tr>
            <td><img src="https://i.ibb.co/0BYctCR/logo-afirme.png" width="128"></td>
            <td>
                <h3>{{ afirme }}</h3>
            </td>
        </tr>
        <tr>
            <td><img src="https://i.ibb.co/g3yqCGY/logo-banregio.png" width="128"></td>
            <td>
                <h3>{{ banregio }}</h3>
            </td>
        </tr>
        <tr>
            <td><img src="https://i.ibb.co/9vKgnB8/logo-bx.png" width="96"></td>
            <td>
                <h3>{{ bx }}</h3>
            </td>
        </tr>
    </tbody>
</table>

<br>
<br>

<small style="font-style: italic;">
    Las cantidades aquí presentadas están basadas en parámetros reales que manejan los bancos, y dan una idea muy
    certera del alcance de crédito, sin embargo, el monto definitivo que será autorizado dependerá en gran medida
    del historial crediticio de cada persona. Por esto te recomendamos acercarte con nosotros, te asesoraremos y te
    ayudaremos a presentar tu expediente ante los bancos con el mejor perfil de cliente, juntos elegiremos la mejor
    opción para ti.
</small>

<br>
<br>

<center><img src="https://i.ibb.co/QXvGS1m/infonavit-2.jpg"></center>

<br>
<br>
<br>

<center>
    <img src="https://i.ibb.co/gRsGFxY/fovisste-2.jpg">
</center>

<br>
<br>
<br>

<center>
    <h3>"Ponemos a los bancos a competir por ti"</h3>
</center>
<br>


<center>
    <img src="https://i.ibb.co/YWDh8Vz/firma-correo.png">
</center>


{% endblock body %}